* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilities*/
:root {
    --white-color: #fff;
    --bg-grey: #c6c6c6;
    --bg-light: #fcfcfc;
    --bg-color: #05053f;
    --bg-dark: #03034e;
    --light-color: #e9f8f1;
    --blue-color: #2e36b0;
    --input-color: #ff4500;
}

.image-2, .image-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    height: 25rem;
}

input:hover {
    cursor: pointer;
}

.details {
    font-weight: 600;
    padding: 1rem 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*Nav Bar*/
.navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em ;
    background-color: var(--bg-color);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
}

nav a {
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    cursor: pointer;
    opacity: 0.7;
}

button {
    text-transform: uppercase;
    width: 5rem;
    background-color: var(--bg-color);
    color: var(--white-color);
    border: 2px solid white;
    border-radius: 2px;
    padding: 10px;
}


/*Header*/
header {
    background-image: linear-gradient(rgba(16, 29, 44, 0.3),rgba(16, 29, 44, 0.7)), url(../images/image-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    height: 18rem;
    width: 100%;
    color: var(--white-color);
}

header h1 {
    text-align: center;
}

header h3 {
    font-size: 2rem;
}

.header {
    width: 25rem;
}

header input {
    color: var(--white-color);
    background-color: var(--input-color);
    border: none;
    border-radius: .3rem;
    padding: .7rem;
    width: 9rem;
    margin-top: 1.5rem;
}

/*Section 1*/
.section-1 {
    background-color: var(--bg-light);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

/*Section 2*/
.section-2 {
    display: flex;
    width: 100%;
    padding: 2rem;
}

.content {
    flex: 1;
    padding: 3rem;
    background-color:var(--bg-light);
}

.content p {
    margin-top: .7rem;
}

.section-2 input {
    color: var(--white-color);
    background-color: var(--input-color);
    border: none;
    border-radius: .2rem;
    padding: .9rem;
    width: 10rem;
    font-weight: 600;
    margin-top: 1rem;
}

.image-2 {
    background-image: url(../images/image-2.jpg);
}

/*Section 3*/
.section-3 {
    display: flex;
    width: 100%;
    padding: 2rem;
}

.contents {
    flex: 1;
    width: 19rem;
    padding: 3rem;
}

.contents p {
    margin-top: .7rem;
}

.section-3 input {
    color: var(--white-color);
    background-color: var(--input-color);
    border: none;
    border-radius: .2rem;
    padding: .9rem;
    width: 12rem;
    font-weight: 600;
    margin-top: 1rem;
}

.image-3 {
    background-image: url(../images/image-3.jpg);
}

/*Section 4*/
.section-4 {
    background-color: var(--bg-grey);
    max-width: 100%;
    padding: 5rem;
    border-bottom: 2px solid black;
}

.section-4 h2 {
    text-align: center;
    padding: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin: auto 0;
}

.box {
    width: 24rem;
    border: 2px solid black;
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--light-color);
}

.box h4 {
    text-align: center;
}

/*Section 5*/
.section-5 {
    padding: 1rem 2rem;
    font-weight: 600;
    max-width: 100%;
}

.section-5 h2 {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.7rem;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.wrapper-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-grey);
    margin-top: 1rem;
    width: 27rem;
    height: 3rem;
    padding: 1rem;
    border-radius: .1rem;
}

/*Footer*/
footer {
    max-width: 100%;
    color: var(--white-color);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 15rem;
    margin-top: 3rem;
    padding: 2rem;
}

/*Media Queries*/

/*Tablets / iPad*/
@media (max-width:768px) {
    * {
        overflow-x: hidden;
        max-width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        margin: 1rem;
        padding: 1rem;
        border-radius: .2rem;
        background-color: var(--bg-dark);
    }

    .data {
        display: block;
        text-align: center;
        line-height: 2;
        background-color: var(--bg-grey);
    }

    .section-2, .section-3 {
        display: block;
    }

    .contents {
        width: 100%;
    }

    .section-4, .container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .wrapper-text {
        overflow: hidden;
        width: inherit;
    }
}

/*Mobile Phone*/
@media (max-width:600px) {
    header {
         height: 23rem;
    }

    .section-2, .section-3 {
        padding: 0;
        margin-top: 1rem;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        gap: 1rem;
    }

    nav li,
    button {
        background-color: var(--bg-dark);
        padding: .5rem;
        text-align: center;
        width: 30rem;
        border-radius: .2rem;

        :hover {
            opacity: .7;
        }
    }

    button {
        border: none;
        border: 1px solid rgb(94, 90, 90);
    }

    .section-4 {
        padding: 3rem 0 ;
    }

    .section-4 h2 {
        padding: 0;
    }

    .box {
        width: 22rem;
        margin: 1rem;
    }

    .section-5 h2 {
        padding: 0;
    }

    footer {
        height: 10rem;
        padding: 1rem;
        margin-top: 1rem;
    }
}